<body>
  <div class="container mt-4">
    <div class="col-lg-7 offset-lg-2 ">
      <div class="card-body text-center card titulo " id="titulo">
        <h1>Empleados</h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-5">
        <div class="card">
          <div>
            <div class="card-body" id="tabla1">
              <h4 class="titulo text-center">agregar Empleados</h4>
              <div>
                <form [formGroup]="form" (ngSubmit)="GuardarEmpleados()">
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-file-signature"></i></span>
                    <input formControlName="nombre" type="text" class="form-control" placeholder="nombre">
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-money-bill-wave"></i></span>
                    <input formControlName="puesto" type="text" class="form-control" placeholder="puesto">
                  </div>

                  <div class="input-group mb-3">
                    <span class="input-group-text"><i class="fas fa-sort-amount-up-alt"></i></span>
                    <input formControlName="salario" type="text" class="form-control" placeholder="salario">
                  </div>

                  <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success boton"> <i class="fas fa-database negro"></i> {{b}} </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7">

        <div class="card ">
          <div class="card-body " id="tabla1">
            <h2 class="titulo text-center">Lista de Empleados</h2>

            <div>
              <div class="mat-elevation-z8 tabnav">

                <table *ngIf="listEmpleados.length > 0" class="table">
                  <thead>
                    <tr>
                      <td>ID</td>
                      <td>nombre</td>
                      <td>puesto</td>
                      <td>salario</td>

                      <td>editar</td>
                      <td>eliminar</td>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let empleado of listEmpleados">
                      <td>{{empleado.id}}</td>
                      <td>{{empleado.nombre}}</td>
                      <td>{{empleado.puesto}}</td>
                      <td>{{empleado.salario}}</td>

                      <td><button (click)="EditarEmpleados(empleado)"> <i class="far fa-edit text-info"></i> </button></td>
                      <td><button (click)="EliminarEmpleados(empleado.id)"><i class="far fa-trash-alt text-danger"></i></button></td>

                    </tr>
                  </tbody>
                </table>

              </div>
              <div>
                <h5 *ngIf="listEmpleados.length== 0"> no hay disponibilidad de empleados </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
</body>
<br />
<br />
